<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Comic Sans MS.ttf</string>
		<string>Arial.ttf</string>
		<string>Herculanum.ttf</string>
		<string>Wingdings.ttf</string>
		<string>Trattatello.ttf</string>
		<string>SnellRoundhand.ttc</string>
		<string>PartyLET-plain.ttf</string>
		<string>Phosphate.ttc</string>
		<string>Luminari.ttf</string>
		<string>Courier New Bold.ttf</string>
		<string>Copperplate.ttc</string>
		<string>ChalkboardSE.ttc</string>
	</array>
</dict>
</plist>
